body {
    background-color: @body-bg;
}

.page-header {
    margin: 30px 0 40px;
    font-size: 20px;
    display: none;
}

.breadcrumb {
    background-color: #fff;
    margin: 20px 0;
    padding: 6px 12px;
    border-radius: @border-radius-base;
    font-size: 13px;
    //    display: none;
}

a {
    //    color: #6591E7;
}
h6 {
    text-transform: uppercase;
}
.btn {
    padding: 4px 12px;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
    .glyphicon {
        font-size: 12px;
    }
}
.form-control {
    padding: 4px 12px;
    height: 30px;
}
