/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: @header-height;
}

/* Hide default border to remove 1px line. */
.navbar-fixed-top {
    border: 0;
}

.suit-menu-vertical {
    .navbar-brand {
        background-color: @ui-color-dark;
        width: @vertical-menu-width;
        text-align: center;
        float: none;
        display: block;
    }
}

@media (max-width: @grid-float-breakpoint) {
    .suit-menu-vertical {
        .navbar-brand {
            width: auto;
        }
    }
}
