{% extends "admin/base_site.html" %}
{% load admin_urls %}
{% load i18n admin_static admin_list %}
{% load url from future %}

{% block extrastyle %}
    {{ block.super }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    {% endif %}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {width: inherit}
        </style>
    {% endif %}
{% endblock %}

{% block title %}Mails {{ block.super }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
    {% if action_form %}{% if actions_on_top or actions_on_bottom %}
        <script type="text/javascript">
            (function($) {
                $(document).ready(function($) {
                    $("tr input.action-select").actions();
                });
            })(django.jQuery);
        </script>
    {% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}
