@header-height: 80px;
@vertical-menu-width: 250px;
@outer-gutter: 40px;

@ui-color-darker: #303337;
@ui-color-dark: lighten(@ui-color-darker, 10%);

@gray-light: #96a6ad;
@gray-lighter: lighten(@gray-light, 10%);
@gray-lightest: lighten(@gray-lighter, 10%);
//@icon-font-path: "../bootstrap/fonts/";

@border-radius-base: 2px;
@grid-float-breakpoint: 600px;

@orange: #F5A623;
