// Gray tones
@gray-darkest: lighten(#000, 5%);
@gray-darker: lighten(#000, 13.5%);
@gray-dark: lighten(#000, 20%);
@gray: lighten(#000, 33.5%);
@gray-light: lighten(#000, 46.7%);
@gray-lighter: lighten(#000, 70%);
@gray-lightest: lighten(#000, 93%);

// Gray with bluish tone
@blue-multiplier: #ecf5ff;
@b-gray-dark: multiply(@gray-dark, @blue-multiplier);
@b-gray-darker: multiply(@gray-darker, @blue-multiplier);
@b-gray-darkest: multiply(@gray-darkest, @blue-multiplier);
@b-gray: multiply(@gray, @blue-multiplier);
@b-gray-light: multiply(@gray-light, @blue-multiplier);
@b-gray-lighter: multiply(@gray-lighter, @blue-multiplier);
@b-gray-lightest: multiply(@gray-lightest, @blue-multiplier);

// Original BS3 colors
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

// Active color
@active-color: @brand-info;

// Override BS3 colors
//@brand-primary: #9ca3ae;
//@brand-primary: @b-gray-lighter;
@brand-success: #6b5;
@brand-info: #46acca;

// Body
@body-bg-color: #eff0f1;
@body-text-color: #333;

// Header
@header-height: 70px;
@header-bg-color: #373b3d;
@header-bg-color: @b-gray-dark;

// Horizontal nav
@nav-bg-color: @b-gray;
@nav-link-color: @b-gray-lighter;
@nav-link-hover-color: #fff;
@nav-link-active-border-color: @active-color;
@nav-link-hover-bg-color: darken(@b-gray, 5%);

// Footer
@footer-height: 60px;

@vertical-menu-width: 250px;
@outer-gutter: 40px;

@border-radius-base: 2px;
@grid-float-breakpoint: 768px;

.white-shadow { text-shadow: 0 1px rgba(255, 255, 255, 0.3); }
.white-shadow-max { text-shadow: 0 1px rgba(255, 255, 255, 0.7); }

// Inputs
@input-height-base: 30px;
@padding-base-vertical: 4px;
@padding-base-horizontal: 8px;

// Mixin for simple form elements, for which we can't add class attribute
.form-control-mixin {
    display: block;
    width: 100%;
    height: @input-height-base;
    padding: @padding-base-vertical @padding-base-horizontal;
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @input-color;
    background-color: @input-bg;
    background-image: none;
    border: 1px solid @input-border;
    border-radius: @input-border-radius;

//    .box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
    .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
    .form-control-focus();
}

.form-control {
    height: @input-height-base;
    padding: @padding-base-vertical @padding-base-horizontal;
}
