{% load suit_forms %}
<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}
        <h3>{{ fieldset.name }}
            {% if fieldset.description %}
                <small>{{ fieldset.description|safe }}</small>
            {% endif %}
        </h3>
    {% endif %}

    {% for line in fieldset %}
        {% with is_single=line.fields|length_is:'1' %}
            {% for field in line %}
                {% if is_single or forloop.counter0 == 0 %}
                    <div class="form-group">
                {% endif %}

            <label for="inputEmail3" class="control-label {{ field.field|suit_form_label_class:fieldset }}">{{ field.label_tag }}</label>

            <div class="{{ field.field|suit_form_field_class:fieldset }}">
                {{ field.field|suit_form_field }}
            </div>


            {% if is_single or forloop.last %}
                </div>
            {% endif %}
            {% endfor %}
        {% endwith %}
    {% endfor %}
</fieldset>
