{% extends "admin/change_form.html" %}
{% load i18n admin_modify staticfiles %}

{% block extrahead %}{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% with original as instance %}
{% include "admin/filer/breadcrumbs.html" %}
{% endwith %}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'filer/css/admin_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'suit/css/filer.css' %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block after_field_sets %}
    {% if is_popup and select_folder %}<input type="hidden" name="select_folder" value="1" />{% endif %}
{% endblock %}


{% block sidebar %}
	{% block file_sidebar %}
		{% with original.duplicates as duplicates %}
			{% if duplicates %}
                <br>
                <h4 class="italic-title">{% trans 'duplicates'|capfirst %}</h4>
                    <ul class="box menu-box">
                        {% for duplicate in duplicates %}<li><a href="{{ duplicate.get_admin_url_path }}" title="{{ duplicate }}"><i class="icon-picture icon-alpha75"></i>{{ duplicate|truncatechars:20 }}</a></li>{% endfor %}
                    </ul>
			{% endif %}
		{% endwith %}
	{% endblock %}
{% endblock %}
