{% extends "admin/base.html" %}
{% load admin_static %}

{#{% block extrahead %}#}
{#  {{ block.super }}#}
{#  <!-- Additional <head> content here. Example: --> #}
{#  <script type="text/javascript" src="{% static 'js/my_project.js' %}"></script>#}
{#{% endblock %}#}


{#{% block extrastyle %}#}
{#  {{ block.super }}#}
{#  <!-- Additional CSS includeshere --> #}
{#{% endblock %}#}


{#{% block js_foot %}#}
{#  {{ block.super }}#}
{#  <!-- Additional JS file includes right before </body> --> #}
{#{% endblock %}#}


{#{% block footer_links %}#}
{#  <!-- Footer links --> #}
{#  <!-- Example: --> #}
{#  <a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>#}
{#{% endblock %}#}


{#{% block footer_branding %}#}
{#  <!-- Footer branding --> #}
{#{% endblock %}#}


{#{% block copyright %}#}
{#  <!-- Footer copyright block --> #}
{#{% endblock %}#}
