{% extends "reversion/revision_form.html" %}
{% load url from suit_compat %}
{% load i18n admin_urls %}


{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span></li>
    <li><a href="{% url 'admin:app_list' app_label %}">{{ app_label|capfirst|escape }}</a>
        <span class="divider">&raquo;</span></li>
    <li><a href="{% url opts|admin_urlname:'changelist' %}">{{opts.verbose_name_plural|capfirst}}</a>
        <span class="divider">&raquo;</span></li>
    <li><a href="{% url opts|admin_urlname:'recoverlist' %}">{% blocktrans with opts.verbose_name_plural as name %}Recover deleted {{name}}{% endblocktrans %}</a>
        <span class="divider">&raquo;</span></li>
    <li class="active">{{title}}</li>
</ul>
{% endblock %}


{% block object-tools %}{% endblock %}


{% block form_top %}
<div class="alert alert-info">{% blocktrans %}Press the save button below to recover this version of the object.{% endblocktrans %}</div>
{% endblock %}


{% block submit_buttons_top %}{% with is_popup=1 %}{{block.super}}{% endwith %}{% endblock %}
{% block submit_buttons_bottom %}{% with is_popup=1 %}{{block.super}}{% endwith %}{% endblock %}
