.submit-row {
  .deletelink-box {
    float: right;
    margin: 0;
    .deletelink {
      @extend .btn;
      @extend .btn-danger-outline;
    }
  }
  input[type='submit'], input[type='button'], button {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-secondary;
    &:first-child {
      @extend .btn-primary;
    }
    margin-bottom: .5rem;
  }
  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1.2rem $header-padding-horizontal 1rem;
    z-index: 5000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  }
}
