fieldset {
  input[type=text],
  input[type=password],
  .vTextField,
  .vIntegerField,
  .vBigIntegerField,
  .vLargeTextField,
  .vTimeField,
  .vDateField {
    @extend .form-control;
    display: inline-block;
    @include media-breakpoint-down(xs) {
      max-width: none;
    }
  }
  select:not([multiple="multiple"]) {
    @extend .c-select;
    border-radius: $input-border-radius;
  }
  input[type=text] {
    &.vIntegerField,
    &.vBigIntegerField,
    &.vDateField,
    &.vTimeField,
    &.vForeignKeyRawIdAdminField {
      width: auto;
    }
  }
}
// Date fields
.timezonewarning {
  display: inline-block;
  margin-top: .5rem;
  @extend .text-muted;
  @extend small;
}
.related-lookup {
  &:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    @include fa-icon-font();
    content: $icon-search;
    color: $body-color;
    font-size: $font-size-lg;
    margin-left: 5px;
  }

}
