body.change-form {
  .object-tools {
    float: right;
    margin-top: -2.85rem;
    margin-bottom: 20px;
    overflow: hidden;
    li {
      display: inline-block;
    }
  }
  .object-tools + form {
    width: 100%;
    clear: both;
  }
}
