body.change-form {
  .object-tools {
    float: right;
    margin-top: -3.5rem;
    margin-bottom: 20px;
    overflow: hidden;
    li {
      display: inline-block;
    }
  }
  .object-tools + form {
    clear: both;
  }
}
