{% extends 'admin/base.html' %}
{% load i18n static suit_tags %}

{% block stylesheet %}{% static "suit/css/suit.css" %}{% endblock %}

{% block extrastyle %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administration') }}
            <span class="header-label">{% trans 'Admin' %}</span></a>
    </h1>
{% endblock %}
{% block messages %}
    <div style="margin: 2rem">

        <br/>
        <fieldset class="module aligned wide">

            <div class="form-row">

                <label class="required" for="id_old_password">Old password:</label>
                <input id="id_old_password" name="old_password" type="password">
            </div>

            <div class="form-row">

                <label class="required" for="id_new_password1">New password:</label>
                <input id="id_new_password1" name="new_password1" type="password">

                <p class="help"></p>
                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                </ul>
                <p></p>

            </div>

            <div class="form-row">

                <label class="required" for="id_new_password2">New password confirmation:</label>
                <input id="id_new_password2" name="new_password2" type="password">

            </div>

        </fieldset>
        <br/>
        <fieldset class="suit-form">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Email</label>
                <div class="col-sm-10">
                    <p class="form-control-static">email@example.com</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 form-control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
        </form>
        </fieldset>

    </div>
{% endblock %}

{% block nav-global %}
    {% include 'suit/menu.html' %}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="{% static "suit/js/suit.js" %}"></script>
    {% if cl.formset or action_form and 'toggle_changelist_top_actions'|suit_conf %}
        <script type="text/javascript">
            Suit.ListActionsToggle.init();
        </script>
    {% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super|suit_body_class }}{% endblock %}
