{% extends 'admin/change_form.html' %}
{% load url from future %}
{% load i18n %}


{% block form_top %}
    {% if original.pk %}
        <ul class="nav nav-tabs nav-tabs-suit" data-tab-prefix="tab-content">
            {% block nav_tabs %}
                {% for fieldset in adminform %}
                    <li {% if forloop.first %}class="active"{% endif %}><a
                            href="#{{ fieldset.name|cut:" " }}">{{ fieldset.name }}</a></li>
                {% endfor %}
                {% for inline_admin_formset in inline_admin_formsets %}
                    <li>
                        <a href="#{{ inline_admin_formset.opts.verbose_name_plural|cut:" " }}">{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</a>
                    </li>
                {% endfor %}
            {% endblock %}
        </ul>
    {% endif %}
{% endblock %}

{% block field_sets %}
    {% for fieldset in adminform %}
        <div class="tab-content tab-content-{{ fieldset.name|cut:" " }} {% if not forloop.first %}hide{% endif %}">
            {% include "admin/includes/fieldset.html" with tabbed=True %}
        </div>
    {% endfor %}
{% endblock %}

{% block inline_field_sets %}
    {% for inline_admin_formset in inline_admin_formsets %}
        <div class="tab-content tab-content-{{ inline_admin_formset.opts.verbose_name_plural|cut:" " }} hide">
            {% include inline_admin_formset.opts.template with tabbed=True %}
        </div>
    {% endfor %}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {
            $('.nav-tabs').suit_tabs();
        });
    </script>
{% endblock %}