.suit-menu-horizontal {
    // Local variables
    @nav-bg-color: @ui-color-dark;
    @nav-border-color: @ui-color-darker;
    @nav-link-color: @gray-light;
    @nav-link-active-color: @gray-lightest;
    @nav-link-active-border-color: @orange;
    @nav-link-hover-bg-color: darken(@ui-color-dark, 5%);
    .nav-suit-menu {
        padding: 0 @outer-gutter;
        background-color: @ui-color-dark;
        li {
            margin: 0;
        }
        > li {
            border-left: 1px solid @nav-border-color;
            a {
                border-radius: 0;
                color: @nav-link-color;
                padding: 10px 20px;
                &:hover {
                    color: @nav-link-active-color;
                    background-color: @nav-link-hover-bg-color;
                }
            }
            &:last-child {
                border-right: 1px solid @nav-border-color;
            }
            &.active {
                > a, > a:hover, &:hover > a {
                    background-color: #fff;
                    color: @text-color;
                    border-top: 3px solid @nav-link-active-border-color;
                    padding-top: 7px;
                }
            }
            &:hover {
                > a {
                    background-color: @nav-link-hover-bg-color;
                }
                .nav {
                    display: block;
                }
            }
        }
        .nav {
            z-index: @zindex-dropdown;
            background-color: @nav-link-hover-bg-color;
            position: absolute;
            display: none;
            min-width: 150px;
            li {
                border-bottom: 1px solid @nav-border-color;
                &.active {
                    a {
                        color: @nav-link-active-color;
                        background-color: darken(@nav-link-hover-bg-color, 5%);
                    }
                }
            }
            a {
                padding-top: 8px;
                padding-bottom: 8px;
                &:hover {
                    background-color: darken(@nav-link-hover-bg-color, 2%);
                }
            }
        }
    }
}
.nav-suit-sub-menu {
    background-color: #fff;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    border: 0;
    padding: 0 @outer-gutter;
    > li {
        a {
            font-size: 13px;
            line-height: 19px;
            border-radius: 0;
            padding: 11px 12px 9px;
//            color: @gray;
            &:hover {
                background-color: inherit;
//                #gradient.vertical(lighten(@body-bg, 2%), @body-bg);
                text-decoration: underline;
            }
        }
        &.active {
            > a {
                background-color: inherit;
                color: @orange;
                font-weight: bold;
                &:hover {
                    background-color: inherit;
                    color: @orange;
                }
            }
        }
    }
}
.breadcrumb .active {
    color: @gray;
}
