{% load admin_static suit_tags %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {#<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />#}
  <link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/dist/css/bootstrap.css' %}" media="all">
  {#    <link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/dist/css/bootstrap-theme.min.css' %}" media="all">#}
  <link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all">
  {% block extrastyle %}{% endblock %}
  {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}"/>{% endif %}
  <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
  <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
  <script src="{% static 'suit/js/jquery-1.11.1.min.js' %}"></script>
  <script type="text/javascript">var Suit = {$: $.noConflict()};
  if (!$) $ = Suit.$; </script>
  <script src="{% static 'suit/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  {% block extrahead %}{% endblock %}
  {% block blockbots %}
    <meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %} suit-menu-{{ 'menu_position'|suit_conf }}{{ 'show_required_asterisk'|suit_conf|yesno:' suit-show-req-asterisk,' }} {{ request|suit_platform }}">


{% block header %}
  {% if not is_popup %}
    <div class="navbar navbar-inverse navbar-suit-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block branding %}{% endblock %}
        </div>
        <div class="navbar-collapse collapse">
          {% block nav-global %}{% endblock %}
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_active and user.is_staff %}
              <li class="dropdown" id="user-tools">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {% block welcome-msg %}
                    {% trans 'Welcome,' %} {% firstof user.get_short_name user.get_username %}{% endblock %}
                  <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% block userlinks %}
                    {% if site_url %}
                      <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                    {% endif %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                      <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                    {% endif %}
                    {% if user.has_usable_password %}
                      <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
                  {% endblock %}
                </ul>
              </li>
            {% endif %}
            <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group has-feedback">
              <input type="text" class="form-control" id="inputWarning2" placeholder="Search...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}


{% block wrapper %}
<div id="wrapper">

  {% block menu %}
    <!-- Menu -->
    <div id="menu-wrapper">
      {% if not is_popup %}
        {% include 'suit/menu.html' %}
      {% endif %}
    </div>
    <!-- /#menu-wrapper -->
  {% endblock %}

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

          {% if not popup %}
            {% block breadcrumbs %}
              <div class="breadcrumbs">
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                {% if title %} &rsaquo; {{ title }}{% endif %}
              </div>
            {% endblock %}
          {% endif %}

          {% block messages %}
            {% if messages %}
              <div class="main-messages">
                {% for message in messages %}
                  <div class="alert alert-{% firstof message.tags 'info' %}">
                    <button type="button" class="close" data-dismiss="alert">
                      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    {{ message|capfirst }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endblock messages %}

          {% if not request %}
            <div class="alert alert-danger" role="alert">
              You need to add
              <code>django.core.context_processors.request</code> to
              <code>TEMPLATE_CONTEXT_PROCESSORS</code>

              <p>See Django Suit
                <a href="http://django-suit.readthedocs.org/en/develop/#installation" target="_blank">Installation notes</a>
              </p>
            </div>
          {% endif %}


          <!-- Django admin content -->
          <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}
              <h1 class="page-header">{{ title }}</h1>{% endif %}{% endblock %}
            {% block content %}
              {% block object-tools %}{% endblock %}
              {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear"/>
          </div>

          <!-- END  Django admin content -->
          {#                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>#}

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
{% endblock %}

{% if not is_popup %}
  <div class="footer">
    <div class="container-fluid">
      {% block footer %}
        <div class="row">
          <div class="col-xs-12 col-sm-4 tools">
            {% block footer_links %}
              <a href="http://djangosuit.com/support/" target="_blank"><span class="glyphicon glyphicon-question-sign"></span>Support</a>
              <a href="http://djangosuit.com/pricing/" target="_blank"><span class="glyphicon glyphicon-bookmark"></span>Licence</a>
              <a href="http://github.com/darklow/django-suit/issues" target="_blank"><span class="glyphicon glyphicon-comment"></span>Report a bug</a>
            {% endblock %}
          </div>
          <div class="col-xs-12 col-sm-4 branding">
            {% block footer_branding %}
              {% with 'admin_name'|suit_conf as admin_name %}
                {{ admin_name }}
              {% endwith %}
            {% endblock %}
            {% block footer_versions %}
              <div class="version">
                <a href="http://djangosuit.com" target="_blank">Django Suit</a> v{{ 'version'|suit_conf }} /
                <a href="https://www.djangoproject.com/" target="_blank">Django</a> v{{ 'django_version'|suit_conf }}
              </div>
            {% endblock %}
          </div>
          <div class="col-xs-12 col-sm-4 copyright">
            {% block copyright %}
              Copyright &copy; {% now "Y" %} DjangoSuit.com
              <br>Powered by
              <a href="http://djangosuit.com" target="_blank">DjangoSuit.com</a>
            {% endblock %}
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
{% endif %}

<script src="{% static 'suit/js/suit.js' %}"></script>
{% block extrajs %}{% endblock %}


</body>
</html>
