{% extends 'admin/change_list.html' %}
{% load i18n admin_list suit_list %}

{% block search %}{% suit_search_form cl %}{% endblock %}

{% block filters %}
    {% with vertical_filters=cl.filter_specs|suit_list_filter_vertical:cl %}
        {% if vertical_filters %}
            <div id="changelist-filter">{% for spec in vertical_filters %}
                {% if forloop.first %}
                    <h2>{% trans 'Filter' %}</h2>
                {% endif %}
                {% admin_list_filter cl spec %}
            {% endfor %}</div>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block footer %}
    {{ block.super }}

    {% if cl.has_filters %}
        <script type="text/javascript">
            // Handle change list filter null values
            Suit.$('.search-filter').suitSearchFilters();
        </script>
    {% endif %}
{% endblock %}
